:root {
  /* Colors */
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --body-font-family: "Outfit", sans-serif;
  --heading-font-size: 2.4rem;
  --paragraph-font-size: 1.8rem;
}

body {
  padding: 15vh 20vw;
}
